<h1>Triangle Builder</h1>
<h2>Enter values for three sides to determine the type of triangle they make</h2>
<form action="/results" method="post">
  <label for="side-a">Side A:</label>
  <input id="side-a" name="side-a" type="number" min="1" required="true">

  <label for="side-b">Side B:</label>
  <input id="side-b" name="side-b" type="number" min="1" required="true">

  <label for="side-c">Side C:</label>
  <input id="side-c" name="side-c" type="number" min="1" required="true">

  <button type="submit">Submit</button>
</form>
