<h1>Triangle Side A Is: @Model.GetSideA()</h1>
<h1>Triangle Side B Is: @Model.GetSideB()</h1>
<h1>Triangle Side C Is: @Model.GetSideC()</h1>
<h1>Your Triangle Is: @Model.GetType()</h1>

<p><a href="/">Back to triangle form.</a></p>
